name: 04 - Using Actions
on:
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        # 0. Checkout the code
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "20.x"
            # 1. Install dep of our react app
            - name: Install dependencies
              run: npm ci
              working-directory: 04-using-actions/react-app
        # 2. Execute automated tests
