name: 14 - Artifacts

on:
    workflow_dispatch:

env:
    WORK_DIR: 14-artifacts/react-app

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ${{env.WORK_DIR}}
        outputs:
            deps-cache-key: ${{ steps.cache-key.outputs.CACHE_KEY }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 20.x
            - name: Calculate cache key
              id: cache-key
              run: |
                  echo "CACHE_KEY=deps-node-modules-${{ hashFiles('${{env.working-directory}}/package-lock.json') }}" >> "$GITHUB_OUTPUT"
            - name: Download cached dependencies
              uses: actions/cache@v3
              id: cache
              with:
                  path: "${{ env.WORK_DIR}}/node_modules"
                  key: ${{ steps.cache-key.outputs.CACHE_KEY }}
            - name: Install dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm ci
            - name: Build code
              run: npm run build
            - name: Upload build files
              uses: actions/upload-artifact@v4
              with:
                  name: app
                  path: ${{env.WORK_DIR}}/build
    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Download build artifact
              uses: actions/download-artifact@v4
              with:
                  name: app
                  path: build
            - name: Show folder structure
              run: ls -R
