name: 15 - Matrices
on:
    workflow_dispatch:
jobs:
    backwards-compatibility:
        name: ${{matrix.os}} - ${{matrix.node-version}}
        runs-on: ${{matrix.os}}
        strategy:
            fail-fast: false
            matrix:
                node-version: [18.x, 20.x, 21.x]
                os:
                    - ubuntu-latest
                    - macos-latest
                    - window-latest
        steps:
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: ${{matrix.node-version}}
            - name: Perform some tests
              run: echo "Running tests on ${{matrix.os}} and NodeJS ${{matrix.node-version}}"
